@charset "UTF-8";

input[type="submit"], input[type="button"]{
	background-color: royalblue;
	color: white;
	width: 130px;
	height: 55px;
	margin: 0 5px;
}

form{
	margin: 20px 0;
	padding-left: 20px;
}

button {
	background-color: royalblue;
	color: white;
	width: 130px;
	height: 55px;
	margin: 0 5px;
}

.search_btn{
	position: relative;
	left: 100px;
}

.btn_p{
	text-align: right;
}

.btn_p input{
	position: relative;
	right: 120px;
}

#menu_btn{
	padding-left: 30px;
}

.error {
	color: red;
}